/* ── Report legacy (.report / .table-report) ── */

.report .report__title,
.report .report__progress,
.report .report__result {
    font-size: .9rem;
}

.report .report__progress {
    white-space: nowrap;
}

.report .report__progress .progress {
    display: inline-block;
    min-width: 200px;
    margin-bottom: 0;
}

.report .report__separator {
    /* border: 1px dashed rgba(0, 0, 0, 0.1);
     flex-basis: 0;
     flex-grow: 1;
     max-width: 100%;*/
}

/* Table report */
.bootstrap .table.table-report thead > tr > th {
    padding: 8px 18px;
    border-bottom: solid 1px #000;
    font-size: .9rem;
    font-weight: 600;
    white-space: nowrap;
}

.bootstrap .table.table-report tbody > tr.report > td {
    border-bottom: 0;
    padding: 8px 18px;
}

.bootstrap .table.table-report tbody > tr.report > td.report__title,
.bootstrap .table.table-report tbody > tr.report > td.report__result {
    font-size: .9rem;
    white-space: nowrap;
}

.bootstrap .table.table-report tbody > tr.report > td .report__progress {
    display: flex;
    gap: 1rem;
    white-space: nowrap;
}

.bootstrap .table.table-report tbody > tr.report > td .report__progress .report__progress-value {
    font-size: .8rem;
}

.bootstrap .table.table-report tbody > tr.report > td .report__progress .report__progress-percentage {
    position: relative;
}

.bootstrap .table.table-report tbody > tr.report > td .report__progress .report__progress-percentage .progress-bar {
    min-width: 0;
}

.bootstrap .table.table-report tbody > tr.report > td .report__progress .report__progress-percentage .progress-bar.bg-info {
    background-color: $primary-color;
}

.bootstrap .table.table-report tbody > tr.report > td .report__progress .report__progress-percentage .progress-bar.bg-success {
    background-color: #72c279;
}

.bootstrap .table.table-report tbody > tr.report > td .report__progress .report__progress-percentage .progress-bar.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

.bootstrap .table.table-report tbody > tr.report > td .report__progress .report__progress-percentage .progress-bar.progress-bar-animated {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
}

.bootstrap .table.table-report tbody > tr.report > td.report__separator {
    width: 100%;
}
